<div class="container">

  <div *ngIf="loading">
    Loading...
  </div>
  <div *ngIf="error">
    Error :(
  </div>
  <div class="boxes-wrapper" *ngIf="boxes && boxes.edges">
    <ng-container *ngFor="let box of boxes.edges">
      <div class="button-wrapper">
        <button mat-button class="container clickable" (click)="openBox(box.node.id);">
          <img [src]="box.node.iconUrl" alt="{{box.node.name}}">
          <span>{{ box.node.name }}</span>
        </button>
      </div>
    </ng-container>
  </div>

</div>
