.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 10px 0px;

  .boxes-wrapper {
    display: grid;
    grid-template-rows: 250px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
  }

  .button-wrapper {
    position: relative;

    &:hover {
      display: block;
    }

    .clickable {
      cursor: pointer;
    }
  }

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2em;
    text-align: center;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 1px 2px 10px #000;
    white-space: normal;
  }

  img {
    width: 100%;
  }
}
